<div class="col-lg-12">
    <div class="form-continer">
        <div id="formHeader">
            <h4>Payment Recieved Form</h4>
        </div>
        <form class="form-horizontal" role="form" style="margin:10px;" name="searchForm" novalidate>
            <div class="form-group search-section">
                <div>
                    <label class="control-label col-sm-2" for="pId">Patient/Reciept No:</label>
                </div>
                <div class="col-sm-4">
                    <div class="inner-addon right-inner-addon">
                        <i class="glyphicon glyphicon-search"></i>
                        <input type="text" class="form-control" ng-model="searchItem" name="searchItem" placeholder="Enter Patient Id or Reciept No to search" ng-keypress="search($event)" required ng-class="{'form-error':srchFrmSubmitted && searchForm.searchItem.$error.required}">
                        <span class="error-message" ng-show="srchFrmSubmitted && searchForm.searchItem.$error.required">Enter valid Patient Id or Reciept No to search</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <!--<input type="submit" value="Search" ng-click="search($event)" class="btn btn-success" />-->
                </div>
            </div>
        </form>
        <form class="form-horizontal" role="form" style="margin:10px;" name="paymentForm">
            <div class="form-group">
                <label class="control-label col-sm-2" for="patientId">Patient ID:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" ng-model="patientId" tabindex="0" name="patientId" readonly />
                </div>
                <label class="control-label col-sm-2" for="patientName">Patient Name:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" ng-model="patientName" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="recieptNo">Reciept No:</label>
                <div class="col-sm-4">
                    <input type="text" ng-model="recieptNo" tabindex="1" class="form-control" readonly />
                </div>

                <label class="control-label col-sm-2" for="attendantName">Attendant Name:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" ng-model="attendantName" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="dateOfAdmit">Payment Date:</label>
                <div class="col-sm-4">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup.opened"
                               datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openDatePickerPopup()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <label class="control-label col-sm-2" for="contactNo">Contact No:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" ng-model="contactNo" readonly />
                </div>

            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pType">Patient Type:</label>
                <div class="col-sm-4">
                    <input type="text" ng-model="patientType" class="form-control" readonly />
                </div>
                <label class="control-label col-sm-2" for="age"> Age/Sex:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" ng-model="age" readonly>
                </div>
                <div class="col-sm-2">
                    <input type="text" ng-model="sex" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="amountDue">Amount After Pay:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" ng-model="amountDue" readonly />
                </div>
                <label class="control-label col-sm-2" for="remarks">Remarks:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" ng-model="remarks" />
                </div>
            </div>
            <div style="background: #00BCD4;height: 67px;margin-bottom: 12px;border: 6px solid green;">
                <div class="form-group" style="margin:2px;margin-top:10px;">
                    <label class="control-label col-sm-2" for="balanceAmount">Balance Amount:</label>
                    <div class="col-sm-4">
                        <input type="text" ng-model="balanceAmount" class="form-control" readonly />
                    </div>
                    <label class="control-label col-sm-2" for="payNow">Pay Now:</label>
                    <div class="col-sm-4">
                        <input type="text" ng-model="payNow" class="form-control" ng-change="GetAmountDue()" />
                    </div>
                </div>
            </div>
            <div class="btn-panel">
                <div class="form-group" style="margin-top:11px;">
                    <div class="col-sm-2">

                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-success" style="margin-bottom:5px;" ng-click="addNewPayment()">Add New Payment</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-info" style="margin-bottom:5px;" ng-click="updatePayment()">Update Payment</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-danger" style="margin-bottom:5px;" ng-click="deletePayment()">Delete Payment</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>